.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.buttonWrap {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.tabButton {
  width: 60px;
  height: 60px;
  background: #262626;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background: #0077ff;
}
